.navbar {
    background-color: white;
    overflow: hidden;
}
  
.img-fluid {
    padding-top: 20px;
    padding-left: 10%;
}

.navbar a {
    color: #000000;
    text-align: center;
    padding-top: 14px;
    text-decoration: none;
    font-size: 17px;  
}

.navbar a.active {
    color: rgb(0, 0, 0);
}

.bor1 { 
    margin-top: 15px;
    width: 200px;
    height: 50px;
    border-style:solid;
    color:#722ED1;
    border-color:#722ED1;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 40px;
}

.bor1:hover{
    background-color: #000000;
}

.img-taust {
    position: relative;
    top: 0;
    left: 0;
}

.img-hea {
    position: absolute;
    top: 200px;
    right: 200px;
}

.star { 
    position: absolute;
    left: 10%;
    top: 250px;
    width: 256px;
    height: 40px;
    border-style:solid;
    color:#722ED1;
    border-color:#F9F0FF;
    background-color: #F9F0FF;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
}

.star1{
    position: absolute;
    left: 10.6%;
    top: 263px;
}

.real {
    position: absolute;
    left: 10%;
    top: 300px;
    font-size: 48px;
    font-weight: bold;
}

.lamp {
    position: absolute;
    left: 10%;
    top: 470px;
}

.trial { 
    position: absolute;
    left: 10%;
    top: 570px;
    width: 168px;
    height: 48px;
    border-style:solid;
    color:#ffffff;
    border-color:#722ED1;
    background-color: #722ED1;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 40px;
}

.Learn { 
    position: absolute;
    right: 70%;
    top: 570px;
    width: 168px;
    height: 48px;
    border-style:solid;
    color:#000000;
    border-color:#ffffff;
    background-color: #FFF;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 40px;
}

.why {
    margin-top: 50px;
    width: 144px;
    height: 40px;
    border-style:solid;
    color:#722ED1;
    border-color:#F9F0FF;
    background-color: #F9F0FF;
    padding: 5px 10px;
    text-align: right;
    display: inline-block;
    border-radius: 40px;
}

.Why1 {
    position: absolute;
    padding-right: 60px;
    margin-top: 62px;
}

.get{
    padding-top: 120px;  
    font-size: 36px;
    font-weight: bold;
}

.lorem1 {
    padding-top: 230px;
}

.row {
    margin-top: 200px;
    margin-left: 50px;
}

.column1 {
    text-align: center;
    float: left;
    width: 33.3%;
}

.col1 {
    position: absolute;
}

.pealk1 {
    text-align: left;
    position: absolute;
    padding-top: 68px;
    font-size: 21px;
    font-weight: bold;
}

.suva1 {
    text-align: left;
    position: absolute;
    padding-top: 150px;
}

.column2 {
    text-align: center;
    float: middle;
    width: 33.3%;    
}

.col2 {
    position: absolute;
}

.pealk2 {
    text-align: left;
    position: absolute;
    padding-top: 68px;
    font-size: 21px;
    font-weight: bold;
}

.suva2 {
    text-align: left;
    position: absolute;
    padding-top: 150px;
}

.column3 {
    text-align: center;
    float: middle;
    width: 33.3%;
}

.col3 {
    position: absolute;
}

.pealk3 {
    text-align: left;
    position: absolute;
    padding-top: 68px;
    font-size: 21px;
    font-weight: bold;
}

.suva3 {
    text-align: left;
    position: absolute;
    padding-top: 150px;
}

.ring {
    width: 400;
    position: absolute;
    padding-left: 10%;
    padding-top: 500px;
}

.ring1 {
    width: 400;
    position: absolute;
    padding-left: 10%;
    padding-top: 550px;
}

.vigur { 
    position: absolute;
    left: 50%;
    margin-top: 600px;
    width: 224px;
    height: 40px;
    border-style:solid;
    color:#722ED1;
    border-color:#F9F0FF;
    background-color: #F9F0FF;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
}

.vigur1 {
    float: left;
}

.lau{
    position: absolute;
    left: 50%;
    margin-top: 680px;  
    font-size: 36px;
    font-weight: bold;
}

.lamp111 {
    position: absolute;
    margin-top: 780px;
    left: 50%;
}

.pipe1 {
    padding-top: 1150px;
    padding-right: 3%;
    float: right;
} 

.pipee { 
    position: absolute;
    left: 10%;
    margin-top: 1260px;
    width: 224px;
    height: 40px;
    border-style:solid;
    color:#722ED1;
    border-color:#F9F0FF;
    background-color: #F9F0FF;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
}

.pip1 {
    float: left;
}

.lau1{
    position: absolute;
    left: 10%;
    margin-top: 1320px;  
    font-size: 36px;
    font-weight: bold;
}

.lamp222 {
    position: absolute;
    margin-top: 1420px;
    left: 10%;
}
